html, body {
	margin: 0;
	padding: 0;
	background-color: #ECECEC;
	font-family: 'Avenir', 'Helvetica', sans-serif;	
}
h2 {
	font-size: 0.8em;
	text-transform: uppercase;
	display: block;
	color: #534800;
	opacity: 0.55;
}
/*Note: Fingerspelling font only displays on Safari. Can't be converted to woff. So removing FingerSpelling showcase for now.*/
@font-face {
	font-family: 'Fingerspell';
	/*src: url('fonts/ASL-FS-201812A-x100-Regular.ttf');*/
	/*src: url('fonts/ASL-FS-201812A-x100-Regular.otf');*/
	/*src: url('fonts/ASL-FS-201812A-x100-Regular_TTF.woff');*/
	/*src: url('fonts/ASL-FS-201812A-x100-Regular_OTF.woff');*/
	src: url('fonts/asl-fs-201812a-x100-regular-webfont.woff');
	
		/* woff - Pretty Modern Browsers */
		/* ttf - Safari, Android, iOS */
	font-weight: normal !important;
	font-style: normal !important;
}
p.fingerspell {
	font-family: 'Fingerspell', serif;
	/*color: white;*/
	font-size: 3em;
	margin: 0.5em 0;
}
#STAT {
	display: none;
}
/*NAV*/
#nav {
	background: #FFD965;
	padding: 1.0em;
	box-sizing: border-box;
	/*max-width: 800px;
	margin: auto;*/
	box-shadow: 0 0.1em 0.4em 0 hsla(360, 0%, 0%, 0.25);
}
input#searchbar {
	font-size: 2em;
	width: 100%;
	padding: 0.2em 0.3em;
	box-sizing: border-box;
	border: 0px;
	border-radius: 0.5em;
	/*box-shadow: 5px 10px #888888;*/
	box-shadow: 0 0.2em 0.4em 0 hsla(360, 0%, 0%, 0.25);

	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.02em;
}
input#searchbar::placeholder {
	color: #A259FF;
	text-transform: initial;
	font-weight: initial;
	letter-spacing: initial;
}
/* CONTENT*/
#page {
	max-width: 800px;
	margin: auto;
}
#page h2 {
	margin-top: 3em;
}
#results .item {
	background: darkgray;
	display: inline-block;
	margin: 10px;
	border-radius: 0.5em;
}