html, body {
	margin: 0;
	padding: 0;
	background-color: #ECECEC;
	font-family: 'Avenir', 'Helvetica', sans-serif;	
	position: relative;
}
h2 {
	font-size: 0.8em;
	text-transform: uppercase;
	display: block;
	color: #534800;
	opacity: 0.55;
}
a {
	text-decoration: none;
	color: #C190FF;
}
p {
	color: gray;
}
#STAT {
	display: none;
}
/*NAV*/
#nav {
	background: #FFD965;
	box-shadow: 0 0.1em 0.4em 0 hsla(360, 0%, 0%, 0.33);
}
	body.loading #nav {
		height: 100vh;
	}
#nav .container {
	max-width: 800px;
	margin: auto;
	padding: 1.0em;
	box-sizing: border-box;
}
#nav .tagline {
	/*text-align: center;*/
}
	#nav img.logo {
		width: 2em;
		display: inline-block;
		padding-right: 0.5em;
	}
	#nav h2 {
		margin-top: 0;
		display: inline-block;
		vertical-align: middle;
	}
input#searchbar {
	font-size: 2em;
	width: 100%;
	padding: 0.2em 0.3em;
	box-sizing: border-box;
	border: 0px;
	border-radius: 0.4em;
	box-shadow: 0 0.2em 0.4em 0 hsla(360, 0%, 0%, 0.33);

	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.02em;

	background-image: url('site-images/icon-search.png');
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position: right 0.5em center;
}
input#searchbar::placeholder {
	color: #A259FF;
	text-transform: initial;
	font-weight: initial;
	letter-spacing: initial;
}
	body.loading input#searchbar {
		display: none;
	}
/* LOADER */
.loading-container {
	text-align: center;
	margin-top: 40vh;
}
	body.data-loaded .loading-container {
		display: none;
	}
		.lds-ellipsis {
		  display: block;
		  position: relative;
		  width: 64px;
		  height: 64px;
		  margin: auto;
		}
		.lds-ellipsis div {
		  position: absolute;
		  top: 27px;
		  width: 11px;
		  height: 11px;
		  border-radius: 50%;
		  background: #fff;
		  animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		.lds-ellipsis div:nth-child(1) {
		  left: 6px;
		  animation: lds-ellipsis1 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(2) {
		  left: 6px;
		  animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(3) {
		  left: 26px;
		  animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(4) {
		  left: 45px;
		  animation: lds-ellipsis3 0.6s infinite;
		}
		@keyframes lds-ellipsis1 {
		  0% {
		    transform: scale(0);
		  }
		  100% {
		    transform: scale(1);
		  }
		}
		@keyframes lds-ellipsis3 {
		  0% {
		    transform: scale(1);
		  }
		  100% {
		    transform: scale(0);
		  }
		}
		@keyframes lds-ellipsis2 {
		  0% {
		    transform: translate(0, 0);
		  }
		  100% {
		    transform: translate(19px, 0);
		  }
		}

/* CONTENT*/
#page {
	max-width: 800px;
	margin: auto;
}
#page h2 {
	margin-top: 3em;
}
#results {
	margin: 1.7em;
}
#results .item {
	background: #333;/*#272727;*/
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
	border-radius: 0.3em;
	overflow: hidden;
	vertical-align: top;
	box-shadow: 0 0.2em 0.4em 0 hsla(360, 0%, 0%, 0.33);
	position: relative;
}
hr.results-divider {
	margin-top: 3em;
}
/* ITEM CARD DIMENSIONS */
#results .item {
	/*width: 115px;*/
	/*width: 200px;*/
	width: 170px;
}
.item .content {
	/*height: 86.25px;*/
	/*height: 150px;*/
	height: 127.5px;
}

.item .content {
	background: black;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.5em;
}
	.item.type-signbank .content {
		background: white;
	}
	.item.type-handspeak .content {
		background-image: url("site-images/HandSpeak.png");
		background-size: cover;
	}
	.item.type-lifeprint .content {
		background-image: url("site-images/ASLU.png");
		background-size: cover;
	}
.item .content > a {
	/*For Links that don't have a preview image */
	display: block;
	height: 100%;
	opacity: 0.1;
}
.item .content img {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	max-width: 100%;
	max-height: 100%;
}
.item .content iframe {
	width: 100%;
	height: 100%;
	border: none;
}
.item .label {
	font-size: 1em;	
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0.5em;
	padding: 0em;
}
	.item.exactMatch .label {
		display: none;
	}
.item .label p {
	color: white;
	overflow-wrap: break-word
}
.item .source {
	margin: 0.5em 0.7em;
	margin-top: 0;
	padding: 0em;
	font-size: 0.8em;
}
/*.item .source a:before {
	content: "via ";
	color: #999;
}*/
.item p,
.item a {
	margin: 0;
	padding: 0;
}