@font-face {
  font-family: "SignWriting 2010";
  src: 
  	local('SignWriting 2010'),
  	url('SignWriting 2010.ttf') format('truetype');
  /* If positioning issue reoccurs, stop using local font. (msg expires 2016-10-10) */
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	font-family: Helvetica, "SignWriting 2010", Serif;
	position: relative;
}
#content-wrapper {
	height: 100%;
}
	#upper-wrapper {
		background-color: lightblue;
		/* height is set via js according to keyboard-area's height */
		overflow: auto;
		text-align: center;
		position: relative;
		display: block;
	}
	#keyboard-area {
		border-top: 1px solid black;
		background-color: #ccc;
		padding: 5px;
	}

#inputArea {
	margin: 5px 0;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.5em;
	height: 3.3em;
	word-spacing: 1.0em;
	letter-spacing: 0.1em;
	border-radius: 10px;
}
#results {
/*	height: 500px;
	overflow: auto;
	border: 1px solid gray;*/
}

.entry {
	background-color: lightcyan;
	margin: 5px;
	width: 120px;
	display: inline-block;
	word-wrap: break-word;
	text-align: center;
	vertical-align: top;
}
.svg-wrapper {
	background: orange;
	text-align: center;
	height: 70px;
}
.svg-wrapper.loaded-svg {
	background: beige;
}
	.entry .svg-wrapper svg {
		height: 70px;
		max-width: 70px;
	}
	.entry .description {
		/*max-height: 95px;*/
		/*overflow: scroll;*/

		/* Optional */
		/*height: 95px;*/
	}
span.main-label {
	display: block;
	margin: 10px 0;
}
/*.usymbols, .usymbols span {*/
span.usymbols {
	letter-spacing: 0.8em;
	border-top: 2px dashed #ccc;
	font-family: 'SignWriting 2010';
	font-weight: normal;
	line-height: 0.1em;
}
	span.usymbols a {
		text-decoration: none;
	}
	span.usymbols a:hover {
		color: orange;
		font-size: 1.1em;
	}
table {
	background-color: #ccc;
	text-align: center;
	/* Optional: Make Columns equal widths */
	/*table-layout: fixed;*/
}
table tr td {
	vertical-align: middle;
	position: relative;

	background-color: #eee;
	vertical-align: top;
	padding: 0;
	margin: 0;
}
/* Thicken Borders */
table, table td {
	border: 1px solid #ccc;
}
table tr.u8symbols-row td {
	background: #e5e5e5;
}
	table tr.u8symbols-row div.unicode-symbols {
		/*background-color: beige;*/
		font-family: 'SignWriting 2010';
		line-height: 3.0em;
	}
	/* Fix for SignWriting 2010 Offset */
	table tr.u8symbols-row div.unicode-symbols a {
		position: relative;
		border: 1px solid gray;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 3px;
	}

	table tr.u8symbols-row div.unicode-symbols a span {
		/*border: 1px dashed orange;*/
		padding: 0 5px;
		position: relative;
		top: 10px;
	}

		.unicode-symbols a:link, .unicode-symbols a:visited{
			color: blue;
			text-decoration: none;
		}
		.unicode-symbols a:hover {
			color: white;
			background-color: darkgray;
		}
		.unicode-symbols a:active {
			color: red;
		}

table a {
	text-decoration: none;
}
	a.ku8ancestor {
		width: 100%;
		display: block;
		margin: auto;
	}
	a.ku8ancestor:hover {
		background-color: darkgray;
	}
	a.ku8ancestor:active {
		background-color: white;
	}
table tr:first-child td {
	font-size: 2.0em;
}
table tr:nth-child(2) td {
	font-size: 1.5em;
}
table#contactlist, table#fingercontactlist {
	display: inline-table;
	/*TEMP HIDE*/
	/*display: none;*/
}
table#contactlist td, table#fingercontactlist td { /*temp*/
	/*border: 1px solid white;*/
	/*opacity: 0.25;*/
}
table#contactlist tr.u8symbols-row td, table#fingercontactlist tr.u8symbols-row td {
	/*temp*/
	/*opacity: 1.0;*/
}
table#contactlist {
	width: 66%;
}
table#fingercontactlist {
	width: 34%;
}
table#handlist {
	width: 100%;
}

span.buttoned, a.buttoned {
	border: 1px solid gray;
	border-radius: 8px;
	background-color: #eee;
}
a.buttoned {
	min-height: 30px;
	text-decoration: none;
	display: block;
	text-align: center;
}
a.buttoned:hover {
	background-color: darkgray;	
}