@font-face {
  font-family: "SignWriting 2010";
  src: 
  	local('SignWriting 2010'),
  	url('SignWriting 2010.ttf') format('truetype');
  /* If positioning issue reoccurs, stop using local font. (msg expires 2016-10-10) */
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	font-family: Helvetica, "SignWriting 2010", Serif;
	position: relative;
}
#content-wrapper {
	height: 100%;
}
	#upper-wrapper {
		background-color: #f5f5f5;

		/* height is set via js according to keyboard-area's height */
		overflow: auto;
		text-align: center;
		position: relative;
		display: block;
	}
		#upper-header {
			padding: 0.5em 0;
			background-color: white;
			z-index: 10;
			width: 100%;
			border-bottom: 1px solid lightgray;
			min-height: 1.1em;

			font-size: 0.85em;
			color: gray;
			letter-spacing: 0.10em;
		}
		#upper-header div.left {
			float: left;
			line-height: 1em;
			margin-left: 10px;

			font-size: 1.25em;
			/*padding-left: 10px;*/
		}
		#upper-header div.centre {
			display: inline-block;
			margin: 0 auto;
		}
		#upper-header div.right {
			float: right;
			line-height: 1em;
			margin-right: 10px;
			color: #aaa;
		}
		#upper-header a {
			text-decoration: none;
			color: gray;
			line-height: 1em;
		}
		
		#empty-search-input-message {
			font-size: 0.85em;
			/*color: gray;*/
			letter-spacing: 0.10em;
			line-height: 1.5em;

			text-align: left;
			max-width: 600px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 10px;
			background-color: white;
			padding: 10px 20px;
			border-radius: 10px;
		}
			#empty-search-input-message p.alert {
				text-align: center;
				margin: 30px;
			}
			#empty-search-input-message span#browser-warning-message {
				padding: 8px;
				border: 5px solid #ffd12b;
				border-radius: 5px;

				/* Default*/
				display: none;
			}

			#empty-search-input-message a {
				text-decoration: none;
				border-bottom: 1px solid;
				position: relative;
			}
			#empty-search-input-message a:hover {
				top: -1px;
				border-bottom: 2px solid;
			}
			#intro-message-hide-btn-container {
				margin-bottom: 5px;
				text-align: center;
			}
			#intro-message-hide-btn-container a {
				border: 1px solid;
				border-radius: 5px;
				padding: 7px 10px;
			}
		#empty-search-input-message li {
			padding: 5px 0;
		}

		#results {
			padding-top: 5px;
		}
	#keyboard-area {
		/*border-top: 1px solid black;*/
		background-color: #ccc;
		padding: 5px;
		box-shadow: 0px 0px 20px 7px #999;
		-moz-box-shadow: 0px 0px 20px 7px #999;
		-webkit-box-shadow: 0px 0px 20px 7px #999;
		position: relative;
	}

#inputArea {
	margin: 5px 0;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.5em;
	height: 3.3em;
	word-spacing: 1.0em;
	letter-spacing: 0.1em;
	border-radius: 10px;
}

.entry {
	background-color: beige;
	margin: 5px;
	width: 120px;
	display: inline-block;
	word-wrap: break-word;
	text-align: center;
	vertical-align: top;
	border: 1px solid #aaa;
}
.svg-wrapper {
	background: #eee; /* Shown briefly when new items are loaded */
	text-align: center;
	height: 70px;
}
.svg-wrapper.load-unsuccessful {
	background: black;
}
.svg-wrapper.loaded-svg {
	background: white;
	position: relative;
}
	.entry .svg-wrapper img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		
		opacity: 0.2;

		/* Optional. Add a shadow */
		/*filter: blur(2px) opacity(0.75);*/
	}

	.entry .svg-wrapper img {
		max-height: 70px;
		max-width: 70px;
	}
	.entry .svg-wrapper svg {
		height: 70px;
		max-width: 70px;
	}
	.entry .description {
		background-color: beige;
		max-height: 95px;
		overflow: scroll;

		/* Optional */
		height: 95px;
	}
span.main-label {
	display: block;
	margin: 10px 0;
}
	span.main-label a {
		text-decoration: none;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;

		/* Optional */ /* Useful once we've grouped search-terms by (at least one) higher-level meaning */
		text-transform: uppercase;
	}
	span.main-label a:hover {
		border-bottom: 1px solid;
	}
/*.usymbols, .usymbols span {*/
span.usymbols {
	letter-spacing: 0.8em;
	border-top: 2px dashed #ccc;
	font-family: 'SignWriting 2010';
	font-weight: normal;
	line-height: 0.1em;
}
	span.usymbols a {
		text-decoration: none;
	}
	span.usymbols a:hover {
		color: orange;
		font-size: 1.1em;
	}
table {
	background-color: #ccc;
	text-align: center;
	/* Optional: Make Columns equal widths */
	/*table-layout: fixed;*/
}
table tr td {
	vertical-align: middle;
	position: relative;

	background-color: #eee;
	vertical-align: top;
	padding: 0;
	margin: 0;
}
/* Thicken Borders */
table, table td {
	border: 1px solid #ccc;
}
table tr.u8symbols-row td {
	background: #e5e5e5;
}
	table tr.u8symbols-row div.unicode-symbols {
		/*background-color: beige;*/
		font-family: 'SignWriting 2010';
		line-height: 3.0em;
	}
	/* Fix for SignWriting 2010 Offset */
	table tr.u8symbols-row div.unicode-symbols a {
		position: relative;
		border: 1px solid gray;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 3px;
	}

	table tr.u8symbols-row div.unicode-symbols a span {
		/*border: 1px dashed orange;*/
		padding: 0 5px;
		position: relative;
		top: 10px;
	}

		.unicode-symbols a:link, .unicode-symbols a:visited{
			color: blue;
			text-decoration: none;
		}
		.unicode-symbols a:hover {
			color: white;
			background-color: darkgray;
		}
		.unicode-symbols a:active {
			color: red;
		}

table a {
	text-decoration: none;
}
	a.ku8ancestor {
		width: 100%;
		display: block;
		margin: auto;
	}
	a.ku8ancestor:hover {
		background-color: darkgray;
	}
	a.ku8ancestor:active {
		background-color: white;
	}
table tr:first-child td {
	font-size: 2.0em;
}
table tr:nth-child(2) td {
	font-size: 1.5em;
}
table#contactlist, table#fingercontactlist, table#movelist, table#ubodylist, table#facelist {
	display: inline-table;
	vertical-align: top;
}
table#movelist {
	width: 100%;
}

table#facelist {
	width: 50%;
	/* originally 60% - temp 50% to cater for padding-offsets on this table row at narrower screen-res'*/
}
table#ubodylist {
	width: 10%;
}
table#contactlist {
	width: 20%;
}
	/* TEMP: Test Hiding 3rd TD */
	table#contactlist tr:nth-child(3) {
		display: none;
	}	
table#fingercontactlist {
	width: 10%;
}
table#handlist {
	width: 100%;
}

span.buttoned, a.buttoned {
	border: 1px solid gray;
	border-radius: 8px;
	background-color: #eee;
}
a.buttoned {
	min-height: 30px;
	text-decoration: none;
	display: block;
	text-align: center;
}
a.buttoned:hover {
	background-color: darkgray;	
}